<div class="container">
  <div class="row">
    <div class="col-sm-4 mt-4" *ngFor="let item of coffee">
      <div class="card">
        <img src="{{ item.productLink }}" class="card-img-top" alt="" />
        <div class="card-body">
          <h4 class="card-title">{{ item.productName }}</h4>
          <p class="card-text">{{item.productMethod}} -- {{ item.productWeight }} -- {{ item.productPrice }}pln</p>
          <a mat-raised-button color="light" (click)="addToCart(item)">Add to cart</a>
        </div>
      </div>
    </div>
  </div>
</div>
