<mat-toolbar color="brown">
    <mat-icon
    class="material-symbols-outlined"
    aria-hidden="false"
    aria-label="Example home icon"
    fontIcon="coffee"
  ></mat-icon>
  <span>Coffee Palace</span>
  <div class="spacer"></div>
  <a mat-button routerLink="home">Home</a>
  <a mat-button routerLink="shop">Shop</a>
  <a mat-button routerLink="aboutus">About us</a>
  <a mat-button routerLink="login">Login</a>
  <a mat-button>
    <mat-icon
    class="material-symbols-outlined"
    aria-hidden="false"
    aria-label="Example home icon"
    fontIcon="shopping_cart"
  ></mat-icon>
  </a>
</mat-toolbar>

