<mat-toolbar color="brown">
    <mat-icon
    class="material-symbols-outlined"
    aria-hidden="false"
    aria-label="Example home icon"
    fontIcon="coffee"
  ></mat-icon>
  <span>Coffee Palace</span>
  <div class="spacer"></div>
  <a mat-button routerLink="home">Home</a>
  <a mat-button routerLink="brewingMethods">Brewing Methods</a>
  <a mat-button routerLink="shop">Shop</a>
  <a mat-button routerLink="aboutus">About us</a>
  <a mat-button routerLink="login">Login</a>
  <div class="dropdown">
    <a (mouseover)="onMouseOver()"
      class="btn btn-primary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-mdb-toggle="dropdown"
      aria-expanded="false"
      mat-button cDr routerLink="cart">
        <mat-icon
        class="material-symbols-outlined"
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="shopping_cart"
      ></mat-icon>
    </a>
    <div class="dropdown-menu dropdown-menu-right">
      <mat-list *ngFor="let item of cartItems">
        <mat-list-item>{{item.productName}} {{item.productPrice}}pln </mat-list-item>
      </mat-list>
      <div class="d-flex justify-content-center">
        <p *ngIf="sum == 0">
          Your cart is empty
        </p>
        <p *ngIf="sum != 0">
          Your sum is: {{sum}}pln 
        </p>

      </div>
      <div class="btn-group">
        <a class="dropdown-item" mat-button routerLink="cart" type="button">Checkout</a>
        <a class="dropdown-item" mat-button routerLink="cart" type="button">Edit Cart</a>
      </div>
    </div>
  </div>
</mat-toolbar>
